build/YogiBrowser-Linux-1.0.0.AppImage filter=lfs diff=lfs merge=lfs -text
build/linux-unpacked/resources/app.asar filter=lfs diff=lfs merge=lfs -text
build/linux-unpacked/yogi-browser filter=lfs diff=lfs merge=lfs -text
